<hr>
<h3>About me</h3>
<p>Hello! I'm Mark and I'm a Program Manager at Microsoft. Most recently, I work in the AI group on smart email. I'm a strong proponent of UI-less products that just work magically. Before that I was a grad student at UC San Diego in ML. I also had stints at NASA's Jet Propulsion Lab in their very first data science team and at UC Berkeley as a transportation engineer.

In my spare time, I enjoy skiing, climbing, graphic novels, board games and video games.
 </p>

<hr>
<h3>Latest Posts</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<br>
<br>
